*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.accordion-wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #5A57D1;
  height: 100px;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  transition-duration: 0.4s;
  
  margin-top: 10px;
  
  border-radius: 15px;
  
}

.accordion:first-of-type {
  margin-top: 0;
}

.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



.panel {
  padding: 0 40px;
  background-color: #5A57D1;
  overflow: hidden;
  max-height: 0;
  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: max-height;
}

.panel > ul {
  margin: 20px 0;
}


button {
  border: none;
  outline: none;
}