:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.btn-activate {
  cursor: pointer;
  padding: 40px;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.sound{
  padding: 40px;
  background-color: black;
  color: white;
  border-radius: 1rem;
}